@charset "utf-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline; }

html {
    -webkit-text-size-adjust: none;
    word-wrap: break-word; }

body, h1, h2, h3, p, dl, dd, ol, ul, th, td, form, fieldset, input, button, textarea {
    margin: 0;
    padding: 0; }

h1, h2, h3 {
    font-size: 100%; }

ol, ul {
    list-style: none; }

table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    font-size: inherit; }

fieldset, img {
    border: 0; }

input, button, textarea, select {
    font-size: 100%; }

body, input, button, textarea, select, option {
    font-size: normal; }

a, input, textarea {
    text-decoration: none;
    outline: 0;
    -webkit-tap-highlight-color: transparent; }

li, img, label, input {
    vertical-align: middle; }

var {
    font-style: normal; }

ins {
    text-decoration: none; }

body {
    font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;
    color: #3f3f3f;
    background: #ffffff;
    height: 100%; }

input[type="text"], input[type="password"], div, ul, li, input, a {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-appearance: none; }

.clearfix:after {
    clear: both;
    content: "";
    display: block;
    font-size: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden; }

.clearfix {
    zoom: 1; }

html {
    font-size: 16px;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}
html.noscroll {
    height: 100%;
    overflow: hidden;
}
@media (max-width: 10000px) {
    html {
        font-size: 32px;
    }
}
@media (max-width: 640px) {
    html {
        font-size: 31px;
    }
}
@media (max-width: 620px) {
    html {
        font-size: 30px;
    }
}
@media (max-width: 600px) {
    html {
        font-size: 29px;
    }
}
@media (max-width: 580px) {
    html {
        font-size: 28px;
    }
}
@media (max-width: 560px) {
    html {
        font-size: 27px;
    }
}
@media (max-width: 540px) {
    html {
        font-size: 26px;
    }
}
@media (max-width: 520px) {
    html {
        font-size: 25px;
    }
}
@media (max-width: 500px) {
    html {
        font-size: 24px;
    }
}
@media (max-width: 480px) {
    html {
        font-size: 23px;
    }
}
@media (max-width: 460px) {
    html {
        font-size: 22px;
    }
}
@media (max-width: 440px) {
    html {
        font-size: 21px;
    }
}
@media (max-width: 420px) {
    html {
        font-size: 20px;
    }
}
@media (max-width: 400px) {
    html {
        font-size: 19px;
    }
}
@media (max-width: 380px) {
    html {
        font-size: 18px;
    }
}
@media (max-width: 360px) {
    html {
        font-size: 17px;
    }
}
@media (max-width: 340px) {
    html {
        font-size: 16px;
    }
}
body {
    font-size: 125%;
    margin: 0;
}

/* for IE6 IE7 */
a:link,
a:visited {
    text-decoration: none;
    color: #3f3f3f; }

a:active,
a:hover {
    color: #3f3f3f; }

body {
    background-color:#f2f2f2; }

/*******************************l-s-x****************/
.l-contert{
    width:100%;
    overflow: hidden;
}
.pd{
    padding:0 0.5rem;
}
.dk{
    display: block;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.l-contert-bg{
    background: #f2f2f2;
}
/******������*********/
/******�ҵĶ���*********/
.slideTxtBox{
    width:100%;
}
.slideTxtBox .hd{
    height:3.1rem;
    line-height:3rem;
    font-size:1rem;
    border:1px solid #ddd;
    position:relative;
    background-color:#fff;
    margin-bottom:0.6rem;
}
.slideTxtBox .hd ul{
    float:left;
    position:absolute;
}
.slideTxtBox .hd ul li{
    float:left;
    margin:0 1rem;
    color:#9d9d9d;
    cursor:pointer;
}
.slideTxtBox .hd ul li.on,.slideTxtBox .hd ul li:hover{
    color:#538670;
    border-bottom:2px solid #538670;
}

.slideTxtBox .bd ul{
    margin-bottom:3rem;
}




/*******************************l-s-x*****end***********/

.top {
    width:100%;
    height:2.6rem;
    margin:0;
    padding:0;
    padding-top:0.5rem;
    font-size: 1.1rem;
    background-color:#fff; }

.top ul {
    display:block;
    height:100%;
    width:100%;
    position:relative;
}

.top ul li {
    display:block;
    list-style:none;
    position:absolute;
    top:0; }

.top ul li.back-arrow {
    height:100%;
    left:2%;
    width:6%; }

.title {
    text-align:center;
    left:25%;
    width:50%; }

.forward {
    text-align:center;
    left:75%;
    width:25%; }

.content .sum-money {
    width:100%;
    height:5.8rem;
    text-align:center;
    background-color:#528670; }


/*--���ּ�¼ tixianjilu--*/
.yu-e {
    margin:0.5rem 0;
    border-right:solid 1px  #59977e;
    height: 80%;
    width:50%;
    text-align:center;
    float:left;
}
.leiji {
    margin:0;
    padding-top:0.5rem;
    height: 80%;
    left:50%;
    text-align:center;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;  }

.yu-e .wenzi, .leiji .wenzi, .sq-wenzi {
    padding-top:0.6rem;
    font-size:0.4rem;
    color:#6ba78e; }

.shuzi {
    padding-top:0.4rem;
    font-size:1.7rem;
    color:#fff; }

.tixian-lists {
    width:100%;
    margin:0;
    padding:0; }

.tx-list {
    width:100%;
    height:3.5rem;
    margin:0.5rem 0;
    border-top:solid 1px;
    border-bottom:solid 1px;
    border-color:#d8d8d8;
    background-color:#fff;
    color:#000;
}

.list {
    padding-top:0.3rem;
    width:75%;
    float:left; }

.tx-jieguo {
    height:100%;
    width:25%;
    float:right;
    text-align:center;
    padding-top:0.3rem;
}

.tx-wenzi {
    margin:0.2rem 0.6rem;
    font-size:1rem;
    font-weight:550;
}

.tx-time {
    margin:0.1rem 0.5rem;
    font-size:0.5rem;
    color:#b4b4b4;
}

p.jieguo1, p.jieguo2 {
    margin:0.6rem;
    font-size:1rem; }

p.jieguo1 {
    color:#009a41; }

/*--�������� shenqingtixian--*/
.sq-wenzi {
    padding-top:1.2rem; }

.tx-money {
    height:3rem;
    width:94%;
    margin:2.4rem 0.6rem 1rem;
    border:solid 1px;
    border-radius:0.3rem;
    border-color:#d8d8d8;
    background-color:#fff; }

.tx-money .wenzi {
    display:block;
    width:25%;
    padding-top:0;
    margin:0.7rem 0 0.7rem 0.6rem ;
    color:#000;
    font-size:1rem;
    float:left;
}

.tx-money input {
    height:1.2rem;
    width:65%;
    margin-top:0.8rem;
    border:none;
    font-size:0.9rem;
}

.tixian input, .gr-tixian, .weixinzhifu, .qrdd-weixinzhifu, .spxq-buy {
    height:2.8rem;
    width:94%;
    margin:1rem 0.6rem;
    padding:0.6rem;
    border:solid 1px;
    border-radius:0.3rem;
    background-color:#6ba78d;
    text-align:center;
    color:#fff;
    font-size:1rem;}

/* --������� dailiticheng--*/
.fenrun {
    width:100%;
    height:6rem;
    margin-top:0.6rem;
    background-color:#fff;
}

.fr-title {
    font-size:1rem;
    padding:0.5rem 0;
    width:96%;
    float:right;
    border-bottom:solid 1px #d8d8d8; }

.item {
    width:100%;
}

.item div {
    float:left;
    width:25%;
    text-align:center;
    margin-top:0.5rem;
    border-right:solid 1px #d8d8d8;
    border-left:-1px;
}

.fr-shuzi {
    font-size:1rem;
    color:#ff6f29; }

.fr-shuzi a{

    color:#ff6f29; }
.fr-wenzi {
    padding-top:0.2rem;
    font-size:0.9rem;
    color:#888888; }

/*--�˻���Ϣ zhanghuxinxi--*/
.zfb {
    width:100%;
    height:6rem;
    margin-top:0.5rem;
    font-size:0.9rem;
    border:solid 1px #d8d8d8;
    background-color:#fff; }

.zh-xinxi {
    width:100%;
    height:16rem;
    margin-top:0.5rem;
    font-size:0.9rem;
    border:solid 1px #d8d8d8;
    background-color:#fff; }

.zfb-zh, .zfb-xm, .txzh, .huzhu, .kh-bank {
    width:97%;
    height:3rem;
    line-height:1.8rem;
    float:right;
    padding:0.6rem 0;
}

.zfb-zh, .txzh, .huzhu, .kh-bank {
    border-bottom:solid 1px #d8d8d8;
}

.sfz {
    width:98%;
    float:right;
    padding-top:0.6rem; }

span.item, .sfz p {
    color:#000;
}

span.item {
    display:block;
    float:left;
    width:30%; }

span.value {
    display:block;
    text-align:right;
    padding-right:0.5rem;}

.sfz p {
    padding-bottom:0.6rem; }

/*--���� daili--*/
.shangping, .guizhe, .DR-code {
    width:100%;
    height:6.8rem;
    background-color:#fff;
    margin-top:0.5rem;
    border-top:solid 1px #d8d8d8;
    border-bottom:solid 1px #d8d8d8;
}

.shangping .title, .guizhe .title , .DR-code .title{
    font-size:0.95rem;
    width:94%;
    height:2.4rem;
    color:#000;
    margin-left:auto;
    margin-right:auto;
    padding-top:0.6rem;
    text-align:left;
    border-bottom:solid 1px #d8d8d8; }

.detailed {
    width:94%;
    height:2.4rem;
    margin-left:auto;
    margin-right:auto;
    padding-top:0.5rem;
    font-size:0.8rem;
    color:#7f7f7f;}

.xianjia {
    display:block;
    float:left;
    width:35%;
    padding-top:0.4rem;
    font-size:0.7rem;
    color:#d8d8d8; }

.fenxiao {
    padding-top:0.2rem;
    color:#888888;}

.fx-shuzi {
    color:#ff6f29;
    font-size:0.8rem;}

.guizhe {
    height:14rem; }

.guizhe .detailed {
    font-size:0.8rem; }

.DR-code {
    height:14rem;
}

.DR-code .img {
    width:100%;
    height:11.6rem;
    background: url(../images/churui/code.png)  no-repeat center;
    background-size:8rem;
    margin-left:auto;
    margin-right:auto;
}

/*--�������� gerenzhongxin--*/
.head-bg {
    background: url(../images/churui/bg.jpg) no-repeat center;
    background-size:cover;
    box-sizing:border-box;
    padding-top:1.5rem;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    height:11rem;
    width:100%;
}

.head-photo {
    margin:0 auto;
    height:4rem;
    width:4rem;
}

.head-bg img{
    border-radius:50%; }

.name {
    color:#fff;
    font-size:1.1rem;
    text-align:center;
    padding-top:0.5rem;}

.phone {
    background: url(../images/churui/phone1.png) no-repeat ;
    background-position: 5rem;
    background-size:2rem 2rem;
    padding-top:0.2rem;
    margin:0 auto;
    color:#fff;
    font-size:1.1rem;}

.phone p{
    text-align:center; }

.phone img {
    margin-left:25%;
    max-width:55px;
    max-height:55px;
    float:left;}

.gr-detailed {
    width:100%;
    height:9rem;
    margin-top:0.6rem;
    font-size:1rem;
    border:solid 1px #d8d8d8;
    background-color:#fff; }

.gr-member, .gr-dingdan, .gr-ticheng {
    height:3rem;
    width:92%;
    margin:0 auto;
    padding-top:0.7rem;
}

.gr-member, .gr-dingdan {
    border-bottom:solid 1px #d8d8d8; }

.gr-member .gr-item{
    background:url(../images/churui/icon1.png) no-repeat left center;
    background-size:1.2rem 1rem; }

.gr-dingdan .gr-item{
    background:url(../images/churui/icon2.png) no-repeat left center;
    background-size:1rem 1rem; }

.gr-ticheng .gr-item{
    background:url(../images/churui/icon3.png) no-repeat left center;
    background-size:1rem 1rem; }

.gr-item {
    display:block;
    width:30%;
    float:left;
    padding-left:1.8rem;
    color:#959595;
}

.gr-value {
    background: url(../images/churui/arrow.png) no-repeat right center;
    background-size:0.7rem 1rem;
    display:block;
    width:50%;
    float:right;
    padding-right:1.4rem;
    text-align:right;
    font-size:0.9rem;
    color:#959595;}

.gr-tixian ,.weixinzhifu , .mydd-ddzhuangtai ,
.ddlb-zhifu, .ddlb-checkwuliu, .ddlb-shouhuo, .ddlb-delete, .ddlb-pingjia,
.spxq-buy{
    background-color:#528670; }

/*--�ҵĻ�Ա myhuiyuan--*/
.hy-list {
    width:100%;
    height:6rem;
    border:solid 1px #d8d8d8;
    background-color:#fff;  }

.hy-list .head-photo {
    float:left;
    margin:0.7rem 0.5rem;
    height:4.5rem;
    width:4.5rem;
}

.hy-list img{
    border-radius:50%; }

.hy-name {
    margin-top:1rem;
    margin-bottom:0.4rem;
    font-size:1rem;
    color:#000;
    font-weight:bold;}

.hy-tel , .hy-num{
    font-size:0.9rem;
    color:#959595;
}

/*--�������� dingdanxiangqing--*/
.dd-zhuangtai {
    width:100%;
    height:8rem;
    border:solid 1px #d8d8d8;
    font-size:0.9rem;
    background-color:#fff;
    margin-top:0.5rem;}

.dd-title  {
    padding:0.5rem;
    border-bottom:solid 1px #d8d8d8;
    color:#000;}

.dd-title .dd-zt {
    color:#538771;}

.receive-detailed {
    width:94%;
    margin:0.5rem;
}

.receive-detailed .receiver , .qrdd-receive-detailed .receiver{
    color:#000;
}

.receive-detailed  .tel, .qrdd-receive-detailed  .tel {
    float:right;
    color:#000;
}

.receive-detailed .add , .qrdd-receive-detailed .add, .youbian{
    margin-top:0.2rem;
    font-size:0.85rem;
    color:#959595;
}

.dd-xinxi , .ddlb-xinxi{
    width:100%;
    height:10rem;
    font-size:0.9rem;
    background-color:#fff;
    border:solid 1px #d8d8d8;
    margin-top:0.5rem; }

.dd-list, .ddlb-list {
    height:5.2rem;
    border-bottom:solid 1px #d8d8d8;
}

a.shangping-url {
    display:block;
    width:100%;
    height:5rem; }


.sp-photo {
    width:20%;
    border:solid 1px #d8d8d8;
    margin:0.5rem;
    float:left;
    max-width:4.2rem;}

.sp-title {
    width:50%;
    height:2.8rem;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color:#525252;
    padding-top: 0.5rem;
    float:left;
    font-size:0.8rem;}

.sp-xinxi {
    height:3rem;
    width:15%;
    float:right; }

.sp-price {
    display:block;
    margin:0.5rem 0.4rem 0 0;
    color:#ff6f29;
    font-size:0.8rem;
    float:right;}

.sp-num {
    float:right;
    margin-top:0.3rem;
    margin-right:0.5rem;
    font-size:0.8rem;
    color:#959595; }

.dd-sum, .ddlb-sum {
    margin:0.6rem 0.5rem;
    color:#959595;
    font-size:0.85rem;}

b {
    color:#ff6f29; }

.total-num {
    display:block;
    width:34%;
    float:left;
    text-align:right;
}

.yunfei {
    display:block;
    width:30%;
    float:left;
    text-align:center;
}

.total-price {
    display:block;
    float:right; }

.total-price b {
    font-size:0.9rem; }

/*--�ҵĶ���mydingdan--*/
.bd .yonghu {
    width:100%;
    height:4rem;
    padding:0.6rem;
    background-color:#fff;
    border:solid 1px #d8d8d8; }

.bd .yonghu .yonghu-photo {
    float:left;
    height:2.7rem;
    width:2.7rem;
}

.bd .yonghu .yonghu-photo img{
    border-radius:50%; }

.bd .yonghu .name {
    color:#000;
    font-size:1rem;
    margin-left:0.5rem;}

.bd .yonghu .time {
    float:right;
    color:#b4b4b4;
    font-size:0.6rem;
    height:4rem;
    line-height:2.4rem;
}

.bd .mydd-lists {
    width:100%;
    height:7rem;
    padding:0.6rem;
    background-color:#fff;
    border-bottom:solid 1px #d8d8d8; }

.bd .mydd-list .shangping-photo {
    float:left;
    width:6rem;}

.bd .mydd-list .shangping-title {
    font-size:0.9rem;
    color:#3f3f3f; }

.bd .mydd-list .price {
    color:#b4b4b4;
    font-size:0.6rem;
    margin-top:0.1rem;}

.bd .mydd-list .kefenrun, .mydd-num {
    color:#959595;
    font-size:0.7rem;
    margin-top:0.8rem;}

.bd .mydd-list .kefenrun b {
    font-size:0.8rem;  }

.bd .mydd-list .mydd-num {
    float:right;
    margin-top:0.3rem;
}

.bd li.mydd-sum {
    width:100%;
    height:2rem;
    background-color:#fff;
    border-bottom:solid 1px #d8d8d8;
    font-size:0.8rem;
    color:#3f3f3f;
    padding:0.4rem;}

.bd li.mydd-sum .mydd-sum-num {
    display:block;
    float:left;
    margin-right:1rem;
}

.bd li.mydd-sum .mydd-shifu {
    display:block;
    float:left;
    margin-right:0.8rem;
}

.bd .mydd-zhuangtai {
    width:100%;
    height:3.5rem;
    background-color:#fff;
    border-bottom:solid 1px #d8d8d8;
}

.bd .mydd-zhuangtai .mydd-ddzhuangtai ,
.ddlb-zhifu,  .ddlb-checkwuliu, .ddlb-shouhuo, .ddlb-delete, .ddlb-pingjia{
    height:2rem;
    width:25%;
    padding-top:0.3rem;
    float:right;
    border:solid 1px;
    border-radius:0.3rem;
    text-align:center;
    color:#fff;
    font-size:0.9rem;}

.bd .mydd-zhuangtai .mydd-ddzhuangtai {
    margin:0.7rem; }

/*--�ҵĶ��� �е� ���� ҳ��--*/
.yfr-title {
    margin-top:0.5rem;
    width:100%;
    font-size:0.9rem;
    color:#959595;
    padding:0.5rem;
    background-color:#fff; }

.menu .yonghu {
    width:100%;
    height:3.6rem;
    padding:0.4rem;
    background-color:#fff;
    border:solid 1px #d8d8d8; }

.menu .yonghu .yonghu-photo {
    float:left;
    height:2.7rem;
    width:2.7rem;
}

.menu .yonghu .yonghu-photo img{
    border-radius:50%; }

.menu .yonghu .name {
    color:#000;
    font-size:1rem;
    margin-left:0.5rem;}

.menu .mydd-lists {
    width:100%;
    height:7rem;
    padding:0.4rem;
    background-color:#fff;
    border-bottom:solid 1px #d8d8d8; }

.menu .mydd-list .shangping-photo {
    float:left;
    width:6rem;}

.menu .mydd-list .shangping-title {
    font-size:0.9rem;
    color:#3f3f3f; }

.menu .mydd-list .price {
    color:#b4b4b4;
    font-size:0.6rem;
    margin-top:0.1rem;}

.menu .mydd-list .kefenrun, .mydd-num {
    color:#959595;
    font-size:0.7rem;
    margin-top:0.8rem;}

.menu .mydd-list .kefenrun b {
    font-size:0.8rem;  }

.menu .mydd-list .mydd-num {
    float:right;
    margin:0.5rem;
}

.menu li.mydd-sum {
    width:100%;
    height:2rem;
    background-color:#fff;
    border-bottom:solid 1px #d8d8d8;
    font-size:0.8rem;
    color:#3f3f3f;
    padding:0.4rem;}

.menu li.mydd-sum .mydd-sum-num {
    display:block;
    float:left;
    margin-right:1rem;
}

.menu li.mydd-sum .mydd-shifu {
    display:block;
    float:left;
    margin-right:0.8rem;
}

.yfr-title .arrow.up {
    display:block;
    width:12%;
    height:1.4rem;
    float:right;
    background:url(../images/churui/arrow_u.png) no-repeat center center;
    background-size:1rem;}

.yfr-title .arrow.down {
    display:block;
    width:12%;
    height:1.4rem;
    float:right;
    background:url(../images/churui/arrow_d.png) no-repeat center center;
    background-size:1rem; }

.bottom-bar {
    width:100%;
    height:3rem;
    background-color:#fff;
    position:fixed;
    bottom:0;
    font-size:0.9rem;
    padding:0.7rem 0.4rem;}

.bottom-bar .yfr-sum-num {
    padding-right:1rem;}

.bottom-bar .yfr-fr {
    display:block;
    width:30%;
    float:right;
    font-size:0.8rem;
    color:#959595; }

/*--�����б� dingdanliebiao--*/
.ddlb-xinxi {
    height:7.5rem;
    margin-top:0; }

.ddlb-sum {
    height:2rem;
}

.ddlb-zhuangtai {
    width:100%;
    height:3.2rem;
    background-color:#fff;
    border-bottom:solid 1px #d8d8d8;}

.ddlb-daipingjia, .ddlb-daishouhuo {
    margin-top:0.6rem; }

.ddlb-zhifu, .ddlb-checkwuliu, .ddlb-shouhuo, .ddlb-delete, .ddlb-pingjia {
    margin:0.65rem 0.6rem 0 0;
}

.ddlb-checkwuliu, .ddlb-delete {
    background-color:#fff;
    color:#518672; }

/*--ȷ�϶��� querendingdan--*/
.qrdd-receive-detailed, .choose-wuliu {
    width:100%;
    height:6rem;
    border:solid 1px #d8d8d8;
    font-size:0.9rem;
    background-color:#fff;
    padding:0.6rem;
}

.qrdd-receive-detailed .add {
    background: url(../images/churui/arrow.png) no-repeat right 0.2rem;
    background-size:0.5rem 0.8rem;
    width:99%;
    text-align:left;
    font-size:0.9rem;
    color:#959595;
    padding-right:0.3rem;}

.choose-wuliu {
    padding:0;
    margin-top:0.5rem; }

.qrdd-title {
    width:100%;
    color:#000;
    padding:0.5rem;
    border-bottom:solid 1px #d8d8d8; }

.qrdd-zhifu {
    width:100%;
    background-color:#fff;
    position:absolute;
    bottom:0px;
    border-top:solid 1px #d8d8d8; }

.ddzj {
    display:block;
    color:#959595;
    font-size:0.8rem;
    width:60%;
    float:left;
    text-align:right;
    margin-top:1rem;
}
.ddzj b {
    font-size:0.9rem; }

.qrdd-weixinzhifu {
    height:2.5rem;
    width:35%;
    margin:0.5rem 0.6rem  0.5rem 0;
    border:solid 1px;
    border-radius:0.3rem;
    background-color:#528670;;
    text-align:center;
    color:#fff;
    font-size:1rem;
    float:right;}

/*-�����ջ���ַ guanlidizhi--*/
.morendizhi,  .other-dizhi {
    width:100%;
    background-color:#fff;
    font-size:0.85rem;
    color:#959595;
    margin-top:0.5rem;
    border:solid 1px #d8d8d8; }

.dizhi-title {
    width:94%;
    border-bottom:solid 1px #d8d8d8;
    margin:0 auto;
    padding:0.5rem 0;
}

.dizhi-title .dizhi-edit, .dizhi-del {
    background:url(../images/churui/edit.png) no-repeat left center ;
    background-size:1rem;
    display:block;
    width:15%;
    float:right;
    text-align:right;
}

.dizhi-title .dizhi-del {
    background:url(../images/churui/delete.png) no-repeat left center ;
    background-size:1rem;
    margin-left:1rem;
}
.dizhi-detailed {
    width:86%;
    margin:0 auto;
    font-size:0.8rem;}

.dizhi-detailed p{
    margin:0.4rem 0; }

.dizhi-detailed .gldz-name {
    display:block;
    width:20%;
    float:left;
    text-align:left;}

/*--�½��ջ���ַ xinjiadizhi--*/
.xjdz {
    width:100%;
    height:12.5rem;
    background-color:#fff;
    border:solid 1px #d8d8d8;
    font-size:0.9rem;
    color:#959595;
    margin-top:0.5rem; }

.xjdz-name, .xjdz-tel, .xjdz-dizhi, .xjdz-detailed-dz, .xjdz-youbian {
    width:94%;
    height:2.5rem;
    border-bottom:solid 1px #d8d8d8;
    margin:0 auto;}

.xjdz-name input, .xjdz-tel input, .xjdz-detailed-dz input, .xjdz-youbian input {
    width:94%;
    margin-top:0.6rem;
    border:none;
    font-size:0.8rem;
}

.xjdz-youbian {
    border:0; }

.xjdz-dizhi {
    background: url(../images/churui/arrow.png) no-repeat 93% center;
    background-size:0.7rem 1rem;
    width:94%;
    text-align:left;
    font-size:0.9rem;
    color:#959595;
    padding-top:0.5rem;
}

/*--��Ʒ���� shangpingxiangqing--*/
.spxq-sp {
    width:100%;
    height:17rem;
    font-size:0.9rem;
    color:#525252;
    background-color:#fff;
    border:solid 1px #d8d8d8;}

.spxq-photo {
    width:100%;
    height:12.3rem; }

.spxq-title, .spxq-price {
    margin:0.3rem 0.5rem; }

.spxq-price {
    color:#959595;
    font-size:0.8rem; }

.spxq-price b {
    font-size:1.1rem; }

.spxq-sp1 {
    width:100%;
    height:4.5rem;
    font-size:0.9rem;
    margin-top:0.5rem;
    border:solid 1px #d8d8d8;
    background-color:#fff;
    color:#000;
}

.spxq-pj, .spxq-tuwen {
    background: url(../images/churui/arrow.png) no-repeat 97% center;
    background-size:0.5rem 0.8rem;
    padding:0.5rem;
}

.spxq-pj {
    border-bottom:solid 1px #d8d8d8; }

.spxq-tip {
    margin-top:0.2rem;
    margin-right:1rem;
    float:right;
    font-size:0.7rem;
    color:#959595; }

.yiz-page-btn {
    width: 100%;
    height: 1.5rem;
    margin: 0 auto;
    padding-left: 40%;
    position: absolute;
    bottom: 0;
    z-index: 98;
    background-color: #525252;
    opacity: 0.7;
}
.yiz-page-btn span {
    opacity: 1;
    width:0.6rem;
    height:0.6rem;
    margin:0.2rem 0.2rem;
    display:inline-block;
    -webkit-border-radius:0.6rem;
    border-radius:0.6rem;
    border: solid 2px #528670;
    z-index: 99;
}
.yiz-page-btn .current {
    background-color: #528670;

}

.yiz-slider-2 {
    height: 12.3rem;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.yiz-slider-2 ul {
    margin: 0px;
    padding: 0px;
    float: left;
    height: auto;
    list-style-type: none;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 98;
}
.yiz-slider-2 ul li {
    height: auto;
    width: 100%;
    float: left;
    padding: 0px;
    margin: 0px;
    float:left;
}
.yiz-slider-2 ul li img {
    width: 100%;
    z-index:1;
}

